@import '~vuetify/src/styles/settings/_variables';

:root {
  font-size: 16px;
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 14px;
  }
}

.keep-words {
  word-break: keep-all !important;
}