@import "~vuetify/src/styles/settings/_variables";
@import "./_themes.scss";

@media #{map-get($display-breakpoints, 'xl-only')} {
  .container {
    max-width: 1440px;
  }
}

.main-content {
  margin: auto;
  max-width: 1140px;
}

a {
  text-decoration: none;
}

:root {
  font-size: 16px;
  @media #{map-get($display-breakpoints, 'sm-and-down')} {
    font-size: 14px;
  }
}

.keep-words {
  word-break: keep-all !important;
}

pre {
  overflow: auto;
}
